@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./Satoshi-Variable.ttf') format('truetype');
  font-weight: 200 700;
  /* font-display: swap; */
  font-style: normal;
  font-feature-settings: 'ss03'on, 'liga'off;
}

/* *
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 200 700;
  /* font-display: swap; */
  font-style: italic;
}