@font-face {
  font-family: 'Glow';
  src: url('./Glow-Regular.ttf') format('truetype'),
    url('./Glow-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glow';
  src: url('./Glow-Medium.ttf') format('truetype'),
    url('./Glow-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Glow';
  src: url('./Glow-Bold.ttf') format('truetype'),
    url('./Glow-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Glow';
  src: url('./Glow-Black.ttf') format('truetype'),
    url('./Glow-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}