RewriteEngine on

#example.com/page will display the contents of example.com/page.html

# /trial -> /
RewriteRule ^trial/?$ / [R=301,L]
RewriteRule ^contacts/?$ /contact-us/ [R=301,L]
RewriteRule ^/icons-temp/?$ / [R=301,L]
RewriteRule ^form/?$ /contact-us/ [R=301,L]
RewriteRule ^blog/logotype-case-study-electric-cars-charging-app/?$ /jucr/ [R=301,L]
RewriteRule ^blog/[id]/?$ /blog/ [R=301,L]
RewriteRule ^blog/ui-ux-case-study-automation-of-parking-lots-at-airports/?$ /parking/ [R=301,L]
RewriteRule ^blog/why-perform-a-ui-ux-audit-benefits-and-techniques-for-a-good-start/?$ /jucr/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from www to non www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#301 from example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

ErrorDocument 404 /404/