@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/fonts/general-sans/general-sans.css';
@import '../assets/fonts/glow/glow.css';

@layer base {
  ::selection {
    color: theme('colors.white');
    background-color: theme('colors.brand');
  }

  html {
    color: theme('colors.black');
  }


  body {
    background-color: theme('colors.brand');
  }
}

:focus-visible {
  outline: 2px solid #ffffff78;
  outline-offset: -2px;
  box-shadow: inset 0 0 0 5px #00000040 !important;
}


.lock-fixed-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.scroll-lock {
  overflow: hidden;
}

.__slider-item {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.51) 100%);
}

.glow-border {
  box-shadow: inset 0 0 0 1.1px;
}

.glow-border-black {
  box-shadow: inset 0 0 0 1.1px theme('colors.black');
}

.glow-border-light {
  box-shadow: inset 0 0 0 1.1px theme('colors.lblue');
}

/** Niches Animations */
@keyframes niches-rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}

.__shape {
  will-change: transform;
}

.rect-right {
  /** circle.cx / svg.width * 100; circle.cy / svg.height * 100 */
  transform-origin: 60.555625% 49.8048828125%;
  animation: 30s cubic-bezier(.55, .68, .77, .75) 0s infinite niches-rotate;
}

.rect-left {
  transform-origin: 39.4444444444% 49.8046875%;
  animation: 20s cubic-bezier(0.4, 0.01, 0.165, 0.89) 0s infinite niches-rotate;
}

.rolling-text-container {
  overflow: hidden;
}

.rolling-letter {
  transform: translateZ(0);
  transition: transform .4s;
  backface-visibility: hidden;
  display: inline-block;
}

.rolling-text-container:hover .rolling-letter {
  transform: translateY(-100%) translateZ(0);
}

.rolling-word {
  white-space: nowrap;
}

.rolling-word .rolling-letter {
  transform: translateZ(0);
  transition: transform .4s;
  backface-visibility: hidden;
  display: inline-block;
}

.rolling-word .rolling-letter.active {
  transform: translateY(-100%) translateZ(0);
}

.transition-none {
  transition: none !important;
}


.to-animate {
  opacity: 0;
  transition: transform .4s cubic-bezier(0.4, 0.01, 0.165, 0.99) .2s, opacity .4s cubic-bezier(0.4, 0.01, 0.165, 0.99) .2s;
}

.no-js .to-animate, .force .to-animate {
  opacity: 1;
  transform: none;
}

.fade-up {
  transform: translate3d(0, 10px, 0);
}

.fade-right {
  transform: translate3d(-10px, 0, 0);
}

.in-viewport {
  opacity: 1;
  transform: translateZ(0);
}