@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/fonts/general-sans/general-sans.css';
@import '../assets/fonts/glow/glow.css';

@layer base {
  ::selection {
    color: theme('colors.white');
    background-color: theme('colors.brand');
  }

  html {
    color: theme('colors.black');
    -webkit-tap-highlight-color: transparent;
  }
}

.js .wow {
  visibility: hidden;
}

:focus-visible:not(input) {
  outline: 2px solid #ffffff78;
  outline-offset: -2px;
  box-shadow: inset 0 0 0 5px #00000040 !important;
}

.scroll-viewport {
  overflow-x: hidden;
  overflow-y: scroll;
}

.lock-fixed-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.scroll-lock {
  overflow: hidden;
}

.__slider-item {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.51) 100%);
}

.glow-border {
  box-shadow: inset 0 0 0 1.1px;
}

.glow-border-black {
  box-shadow: inset 0 0 0 1.1px theme('colors.black');
}

.glow-border-black.to-brand:hover {
  box-shadow: inset 0 0 0 1.1px theme('colors.brand');
}

.glow-border-b-b:hover, .group:hover .glow-border-b-b {
  box-shadow: inset 0 0 0 1.1px theme('colors.brand');
}

.glow-border-light {
  box-shadow: inset 0 0 0 1.1px theme('colors.lblue');
}

.glow-border-white {
  box-shadow: inset 0 0 0 1.1px theme('colors.white');
}

.glow-border-white-to-r {
  box-shadow: inset 0 0 0 1.1px theme('colors.white');
}

.glow-border-white-to-r:hover {
  box-shadow: inset 0 0 0 1.1px theme('colors.brand');
}

.header-logo path {
  color: #19191B;
  transition: color .3s;
}

.header-logo.dark path {
  color: white;
}

.header-logo.submenu path {
  color: theme('colors.brand');
}

.header-logo.white path {
  color: theme('colors.brand');
}

/** Niches Animations */
@keyframes niches-rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}

.__shape {
  will-change: transform;
}

.rect-right {
  /** circle.cx / svg.width * 100; circle.cy / svg.height * 100 */
  transform-origin: 60.555625% 49.8048828125%;
  animation: 30s cubic-bezier(.55, .68, .77, .75) 0s infinite niches-rotate;
}

.rect-left {
  transform-origin: 39.4444444444% 49.8046875%;
  animation: 20s cubic-bezier(0.4, 0.01, 0.165, 0.89) 0s infinite niches-rotate;
}

.rolling-text-container {
  overflow: hidden;
}

.rolling-letter {
  transform: translateZ(0);
  transition: transform .4s;
  backface-visibility: hidden;
  display: inline-block;
  white-space: break-spaces;
}

@media (hover: hover) {

  .rolling-text-container:hover .rolling-letter,
  .rolling-text-group:hover .rolling-letter {
    transform: translateY(-100%) translateZ(0);
  }
}

.rolling-word {
  white-space: nowrap;
}

.rolling-word .rolling-letter {
  transform: translateZ(0);
  transition: transform .4s;
  backface-visibility: hidden;
  display: inline-block;
}

.rolling-word .rolling-letter.active {
  transform: translateY(-100%) translateZ(0);
}

.transition-none {
  transition: none !important;
}


/* .to-animate {
  opacity: 0;
  transition: transform .4s cubic-bezier(0.4, 0.01, 0.165, 0.99) .2s, opacity .4s cubic-bezier(0.4, 0.01, 0.165, 0.99) .2s;
} */

.no-js .to-animate, .force .to-animate {
  opacity: 1;
  transform: none;
}

/* .fade-up, .fadeInUp {
  transform: translate3d(0, 10px, 0);
} */

.fade-right {
  transform: translate3d(-10px, 0, 0);
}

/* 
.in-viewport, .ready .immediate {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateZ(0) !important;
} */

.h-scroller {
  height: 100vh;
  display: flex;
  width: 200%;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
}

.h-scroller::-webkit-scrollbar {
  display: none;
}

.header {
  transition: background-color .3s;
}

.backdrop {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .85), hsla(0, 0%, 100%, .85));
  /* background: linear-gradient(180deg, hsl(0deg 0% 99%), hsl(0deg 0% 98%/74%) 19%, hsl(0deg 0% 98%/54%) 34%, hsl(0deg 0% 98%/38%) 47%, hsl(0deg 0% 98%/28%) 56.5%, hsl(0deg 0% 98%/19%) 65%, hsl(0deg 0% 98%/13%) 73%, hsl(0deg 0% 98%/8%) 80.2%, hsl(0deg 0% 98%/4%) 86.1%, hsl(0deg 0% 98%/2%) 91%, hsl(0deg 0% 98%/1%) 95.2%, hsl(0deg 0% 98%/0%) 98.2%, hsl(0deg 0% 98%/0%)); */

}

@keyframes lin-grad {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.line-test {
  stroke-dasharray: 1032;
  stroke-dashoffset: 1032;
  /* fill: black; */
  /* fill-opacity: 0; */
  animation: line-anim 2s ease forwards infinite;
}

.svg-line-anim {
  stroke-dasharray: var(--dash-array, 1032);
  stroke-dashoffset: var(--dash-offset, 1032);
  transition: transform 2s;
}

.svg-line-anim.ready {
  animation: line-anim var(--anim-duration, 2s) ease-out forwards;
  animation-delay: var(--anim-delay, 0s);
}


@keyframes line-anim {
  to {
    stroke-dashoffset: var(--dash-to, 0);
  }
}

.lin-grad-anim {
  animation: lin-grad 5s infinite;
}

.svg-transform-circle {
  transition: transform 2s;
  transition-delay: var(--anim-delay, 0s);
}

.svg-circle {
  fill: #E4E4E4;
  transition: fill .2s ease-in-out;
  transition-delay: var(--anim-delay, 0s);
}

.svg-circle.active {
  fill: black;
}

@keyframes k-iAsmag {
  0% {
    background: transparent
  }

  50% {
    background: gray
  }

  100% {
    width: 100%;
    background: black;
  }
}

@keyframes k-bHvlyS {
  0% {
    background: transparent
  }

  50% {
    background: gray;
  }

  100% {
    width: 100%;
    background: black;
  }
}

.test-line:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0px;
  z-index: 3;
  animation: 1s ease 0s 1 normal forwards running k-iAsmag;
}

.test-line:after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0px;
  /* z-index: 3; */
  animation: 1s ease 1s 1 normal forwards running k-bHvlyS;
}

.glow-before-after .before-after-slider__delimiter {
  background-color: theme('colors.brand') !important;
  width: 4px !important;
}

.glow-before-after .before-after-slider__delimiter-icon {
  background-color: theme('colors.brand') !important;
  width: 20px !important;
  height: 20px !important;
}

.clip-content {
  clip-path: content-box;
}

.rounded-3xl {
  border-radius: 26px;
}

.swiper-container-free-mode>.swiper-wrapper {
  transition-timing-function: linear;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.icons-slider-l {
  mask-image: linear-gradient(270deg, white 90%, transparent 100%);
}

.icons-slider-r {
  mask-image: linear-gradient(90deg, white 90%, transparent 100%);
}

.main-bg {
  background: linear-gradient(#f2f2f2 46.06%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (min-width: 820px) {
  .main-bg {
    background: radial-gradient(closest-side, #f2f2f2 46.06%, rgba(255, 255, 255, 0) 100%);
  }
}