name: Deploy to Vercel

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run build
      - name: Deploy to Vercel (Preview)
        run: vercel --token ${{ secrets.VERCEL_TOKEN }} --confirm --scope olgavakulenko
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ENV: preview

---

name: Deploy to Vercel (Production)

on:
  push:
    branches:
      - main

jobs:
  deploy-production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run build
      - name: Deploy to Vercel (Production)
        run: vercel --token ${{ secrets.VERCEL_TOKEN }} --prod --confirm --scope olgavakulenko
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
